#menu ul{
    list-style: none;
}
#menu ul li{
    display: inline-block;
    color: green;
    padding: 10px 90px;
}
h1{
    display: inline-block;
    color:rgba(0, 0, 255, 0.747);
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}
.promo{
    display: flex;
    width: 70px;
}
