body{
    background-color: rgb(226, 216, 216);
}
header{
    background-color: #517dbe;
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
}
#btn-menu{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}
header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}
#menu{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
a{
    font-size: 27px;
    display: block;
    padding: 35px 50px;
    color: cornsilk;
    text-decoration: none;
}
#video{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.parrafo{
    display: flex;
    justify-content: center;
    color: rgb(81, 67, 211);
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}
p{
    font-size: 20px;
}
#l{
    display: block;
    width: 80px;
    font-size: 20px;
    color: blue;
    text-decoration: none;
    padding: 5px;
    margin-top: 2px;
    border: 3px solid rgb(97, 90, 202);
}
.features{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-card{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(214, 214, 218);
    border: 1px solid #dadada;
}
form{
    background-color: rgb(182, 176, 176);
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 7px;
}
h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
input, textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
}
textarea{
    min-height: 75px;
    max-height: 120px;
}

@media only screen and (max-width: 400px){
    body{
        background-color:  rgb(223, 169, 169);
        position: absolute;
        font-size: 16px;
    }
    header label{
        display: block;
    }
    #menu{
        position: absolute;
        background: #517dbe;
        flex-direction: column;
        width: 40%;
        margin-left: -42%;
    }
    a{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ #menu{
        margin: 0;
    }
    p{
        font-size: 25px;
    }
    .features{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    #menu{
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    #video{
        margin-top: 35px;
    }
}    
@media only screen and (min-width: 401px) and (max-width: 950px){
    body{
        background-color: rgb(248, 205, 205);
        position: absolute;
        font-size: 16px;
    }
    p{
        font-size: 20px;
    }
    .features{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    #menu{
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    #video{
        margin-top: 35px;
    }
}
