body{
    background-color: rgb(226, 216, 216);
}
header{
    background-color: rgb(180, 180, 107);
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
}
#menu{
    display: inline-block;
    justify-content: space-between;
    padding: 30px 20px;
}
a{
    text-decoration: none;
}
#video{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.parrafo{
    display: flex;
    justify-content: center;
    color: rgb(81, 67, 211);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-card{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(126, 223, 130);
    border: 1px solid #dadada;
}
form{
    background-color: rgb(182, 176, 176);
    width: 350px;
    margin: auto;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 7px;
}
h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
input, textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
}
textarea{
    min-height: 75px;
    max-height: 120px;
}

@media only screen and (max-width: 400px){
    body{
        background-color:  rgb(223, 169, 169);
        position: absolute;
        font-size: 16px;
    }
    .features{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    #menu{
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    #video{
        margin-top: 15px;
    }
}    
@media only screen and (min-width: 401px) and (max-width: 950px){
    body{
        background-color: rgb(248, 205, 205);
        position: absolute;
        font-size: 16px;
    }
    .features{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    #menu{
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    #video{
        margin-top: 15px;
    }
}
